@import "../../utilities/css/Colors.css";

.navbar_container
{
    display: flex;
    justify-content: center;

    height: 75px;

    margin-top: 35px;
    user-select: none;

    border: 1px solid;
}
.navbar_content
{
    display: flex;

    width: 1639px;

    border: 1px solid;
}

.logo
{
    display: flex;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;

    gap: 15px;
}

.logo img
{
    width: 30px;
    height: 30px;
}

.main_menu
{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.main_menu ul
{
    display: inline-flex;

    margin: 0;
    padding: 0;

    list-style: none;
    gap: 30px;
}

.main_menu li
{
    display: flex;
    flex-direction: column;

    font-size: 22px;
    font-weight: 500;

    min-width: 80px;
}

.main_menu li:hover, .auth_container a:hover
{
    color: #484848;
}

.main_menu li:hover .selected, .auth_container a:hover .selected, .search:hover svg
{
    display: flex;

    color: var(--secondary);
}

.selected
{
    display: none;

    width: 80px;
    height: 10px;
}

.navText
{
    padding-left: 5px;
}

.main_menu li:last-child img
{
    width: 25px;
    height: 25px;
}

.auth_container
{
    display: flex;
    font-size: 22px;
    font-weight: 350;

    white-space: nowrap;

    gap: 35px;
}

.auth_container a
{
    all: unset;

    display: flex;
    flex-direction: column;
    min-width: 80px;

    cursor: pointer;
}